.intro__message {
  transform: translateY(20px);
  opacity: 0;
  transition: all 1s ease 1s;
}

.screen--intro {
  &.active {
    .intro__message {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
