.page--loaded {
  .screen__footer {
    transform: translateY(0);
    transition: all 1s cubic-bezier(.08,.8,0,1);
  }

  .page-header__menu {
    opacity: 1;
    transition: opacity 1s cubic-bezier(.08,.8,0,1);
  }

  .page-header__logo {
    transform: translateX(0);
    opacity: 1;
    transition: all 1s cubic-bezier(.08,.8,0,1);
  }

  .social-block__toggler {
    opacity: 1;
    transition: all 1s cubic-bezier(.08,.8,0,1);

    &::before {
      width: 100%;
      height: 100%;
      transition: all .5s cubic-bezier(.17,.67,.55,1.34);
    }

    &:hover {
      &::before {
        width: 110%;
        height: 110%;
        transition: all 0.3s ease;
      }
    }
  }
}

