.page--loaded {
  .screen__footer {
    transform: translateY(0);
  }

  .header__logo {
    transform: translateX(0);
    opacity: 1;
  }

  .social-block__toggler {
    opacity: 1;

    &::before {
      animation: scaleSocialButton .3s ease;
    }

    @keyframes scaleSocialButton {
      0% {
        transform: scale(0);
      }

      80% {
        transform: scale(1.2);
      }

      100% {
        transform: scale(1);
      }
    }
  }

}

