.screen--story {
  &.active {
   .swiper-slide-active p {
     animation: fadeInSliderActive ease 1s;
   }

   .swiper-slide-next p {
      animation: fadeInSliderNext ease 1s;
  }

   @keyframes fadeInSliderActive {
     0% {
       opacity:0;
       transform: translateX(20%);
     }
     100% {
       opacity:1;
       transform: translateX(0);
     }
   }

   @keyframes fadeInSliderNext {
    0% {
      opacity:0;
      transform: translateX(20%);
    }

    50% {
      opacity:0;
      transform: translateX(20%);
    }

    100% {
      opacity:1;
      transform: translateX(0);
    }
  }
 }
}
