.social-block__list {
  transition: opacity 0.3s ease;
}

.social-block__link {
  opacity: 0;
}

.social-block--active {
  .social-block__link {
    opacity: 1;

    &--fb {
      transition: opacity 0.3s ease 0.1s;
    }
    &--insta {
      transition: opacity 0.5s ease 0.2s;
    }
    &--vk {
      transition: opacity 0.7s ease 0.3s;
    }
  }
}
